$mobile : 768px;

.wrapper {
    background-color: white;
    padding: 15px 15px;
    border-radius: 10px;
    display: flex;
    color: #B5B0B0;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    @media screen and (max-width: $mobile) {
        width: 100%;
        font-size: 14px;
        padding: 10px 10px;
    }

    label {
        justify-content: center;
        font-family: Mukta Vaani;
        font-weight: bold;
        width: max-content;
        margin-right: 10px;
    }
    input {
        margin: 0;
        outline-style: none;
        border: none;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 50x;
    }
}