@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap');

$mobile : 768px;

.lembagaWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw !important;

    .header {
        background-color: #FFC3E7;
        height: max-content;
        padding: 20px 0;
        text-align: center;
        h1 {
            font-family: Mukta Vaani;
            font-style: normal;
            font-weight: bolder;
            font-size: 64px;
            line-height: 65px;
            margin : 10px 0;

            @media screen and (max-width: $mobile) {
                font-size: 50px !important;
                line-height: 50px !important;
            }
        }
        p {
            width: 50%;
            margin: 0 auto;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 15px;

            @media screen and (max-width: $mobile) {
                width: 80%;
                font-size: 14px !important;
                line-height: 22px !important;
            }
        }
    }
    .divide {
        background-color: #CFD2C0;
        height: 10px;
        width: 100%;
    }

    .main {
        flex: 1;
        .choiceHeading {
            // background-color: aquamarine;
            margin: 50px 18%;
            h2 {
                font-family: Mukta Vaani;
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 32px;
                // width: 70%;
                margin: 0 auto;
            }
            p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                // width: 70%;
                margin: 0 auto;
            }
            @media screen and (max-width: $mobile) {
                h2 {
                    font-size: 28px;
                    margin: 15px auto;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        .info {
            justify-content: center;
            // background-color: #2cd8ff;
            height: auto;
            text-align: center;
            margin: 0 10%;
            .infoWrapper {
                // background-color: #6bff65;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                justify-content: center;
                .choice {
                    // background-color: aquamarine;
                    height: 150px;
                    width: 150px;
                    // margin: ;
                    margin: 0 100px 150px 100px;
                .imgCover {
                    height: 150px!important;
                    width: 150px !important;
                }
                .img {
                    height: auto !important;
                    max-width: 150px !important;
                }
                .name {
                    font-family: Mukta Vaani;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    }
                button {
                        background-color: #C2E9FF;
                        border: none;
                        color: black;
                        font-family: Mukta Vaani;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 20px;
                        border-radius: 10px;
                        padding: 15px 50px;
                        text-align: center;
                        display: inline-block;
                        margin: 4px 2px;
                        cursor: pointer;

                        &:hover {
                            border-radius: 10px;
                            border : none;
                            color: white;
                            background-color: #0a3955;
                        }
                        
                        &:active {
                            background-color: #C2E9FF;
                            border-radius: 10px;
                            border: none;
                            outline-style: none;
                        }
                        &:focus {
                            outline-style: none;
                        }
                    }
                }
            }
        }
    }

    .footer {
        min-height: 100px;
        width: 100%;
        .footerWrapper {
            background-color: #FFC3E7;
            padding: 10px 0;
            height: max-content;
            width: 100%;
        }
        .footerContent {
            display: flex;
            flex-wrap: row wrap;
            align-items: center;
            justify-content: space-between;
            .instruction {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                p {
                    margin: auto;
                    text-align: center;
                }
                @media screen and (max-width: 500px) {
                    width: 80%;
                    font-size: 14px;
                }
            }
            button {
                background-color: #C2E9FF;
                border: none;
                color: gray;
                font-family: Mukta Vaani;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                border-radius: 10px;
                padding: 15px 50px;
                text-align: center;
                display: inline-block;
                margin: 30px 2px;
                cursor: pointer;

                &:hover {
                    border-radius: 10px;
                    border : none;
                    color: white;
                    background-color: #0a3955;
                }
                
                &:active {
                    background-color: #C2E9FF;
                    border-radius: 10px;
                    border: none;
                    outline-style: none;
                }
                &:focus {
                    outline-style: none;
                }
            }
            .buttonBack {
                // background-color: #bbb;
                margin: 0 10%;
                left: 0;
            }
            .buttonNext {
                // background-color: #bbb;
                margin: 0 10%;
                right: 0;   
            }
        }
    }
}

@media (max-width : 768px) {
    .lembagaWrapper {
        .footer {
            .footerContent {
                flex-direction: column;
            }
        }
    }
}

