@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap');

$mobile : 768px;

.lembagaWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header {
        background-color: #FFC3E7;
        height: max-content;
        padding: 20px 0;
        text-align: center;
        h1 {
            font-family: Mukta Vaani;
            font-style: normal;
            font-weight: bolder;
            font-size: 64px;
            line-height: 65px;
            margin : 10px 0;

            @media screen and (max-width: $mobile) {
                font-size: 50px !important;
                line-height: 50px !important;
            }
        }
        p {
            width: 50%;
            margin: 0 auto;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 15px;

            @media screen and (max-width: $mobile) {
                width: 80%;
                font-size: 14px !important;
                line-height: 22px !important;
            }
        }
    }
    .divide {
        background-color: #CFD2C0;
        height: 10px;
        width: 100%;
    }

    .main {
        flex: 1;
        .info {
            justify-content: center;
            // background-color: #2cd8ff;
            height: max-content;
            text-align: center;
            margin: 0 10%;
            .infoWrapper {
                // background-color: #6bff65;
                display: flex;
                height: max-content;
                flex-flow: row wrap;
                justify-content: space-between;
                justify-content: center;
                margin: 100px 0 50px 0;
                .choice{
                    // background-color: rgb(124, 88, 255);
                    height: 300px;
                    width: 250px;
                    margin: 0 50px 50px 50px;
                    .name {
                        background-color: #C2E9FF;
                        font-family: Mukta Vaani;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        border-radius: 15px;
                        margin: 10px;
                        }
                    .imgCover {
                        cursor: pointer;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 150px!important;
                        width: 150px !important;
                    }
                    .choiceGambar {
                        height: auto !important;
                        max-width: 150px !important;
                    }
                    .kategori {
                        background-color: #C2E9FF;
                        font-family: Mukta Vaani;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        margin: 10px;
                        padding: 10px;
                        border-radius: 15px;
                    }
                }
            }
        }
    }

    .footer {
        min-height: 100px;
        width: 100%;
        .footerWrapper {
            background-color: #FFC3E7;
            padding: 10px 0;
            height: max-content;
            width: 100%;
        }
        .footerContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            button {
                background-color: #C2E9FF;
                border: none;
                color: gray;
                font-family: Mukta Vaani;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                border-radius: 10px;
                padding: 15px 50px;
                text-align: center;
                display: inline-block;
                margin: 30px 2px;
                cursor: pointer;

                &:hover {
                    border-radius: 10px;
                    border : none;
                    color: white;
                    background-color: #0a3955;
                }
                
                &:active {
                    background-color: #C2E9FF;
                    border-radius: 10px;
                    border: none;
                    outline-style: none;
                }
                &:focus {
                    outline-style: none;
                }
            }
            .buttonBack {
                margin: 0 10%;
                left: 0;
            }

        }
    }
}

.buttonConfirm {
    button {
        background-color: #C2E9FF;
        border: none;
        color: gray;
        font-family: Mukta Vaani;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        border-radius: 10px;
        padding: 15px 50px;
        text-align: center;
        display: inline-block;
        margin-bottom: 40px;
        cursor: pointer;

        &:hover {
            border-radius: 10px;
            border : none;
            color: #FFC3E7;
            background-color: #0a3955;
        }
        
        &:active {
            background-color: #C2E9FF;
            border-radius: 10px;
            border: none;
            outline-style: none;
        }
        &:focus {
            outline-style: none;
        }
        @media screen and (max-width: 500px) {
            margin-top: 30px;
        }
    }
    // background-color: #bbb;
    width: 100%;
    text-align: center;
}


@media (max-width : 768px) {
    .lembagaWrapper {
        .main {
            .choiceWrapper {
                .info {
                    .infoWrapper {
                        margin: 50px 0 0 0;
                        .choice {
                            margin: 0 20px 20px 20px;
                        }
                    }
                }
            }
        }
        .footer {
            .footerContent {
                flex-direction: column;
            }
        }
    }
}

